<ul role="presentation" class="uib-datepicker-popup dropdown-menu" dropdown-nested="" ng-if="isOpen" ng-keydown="keydown($event)" ng-click="$event.stopPropagation()" style="top: 312px; left: 160px;">
  <li ng-transclude=""><div uib-datepicker="" template-url="uib/template/datepicker/datepicker.html" datepicker-options="datepickerOptions" class="uib-datepicker" role="application"><div ng-switch="datepickerMode">
  <!----><div uib-daypicker="" ng-switch-when="day" tabindex="0" class="uib-daypicker"><table role="grid" aria-labelledby="datepicker-3291-6871-title" aria-activedescendant="datepicker-3291-6871-18">
  <thead>
    <tr>
      <th><button type="button" class="btn btn-default btn-sm pull-left uib-left" ng-click="move(-1)" tabindex="-1"><i aria-hidden="true" class="glyphicon glyphicon-chevron-left"></i><span class="sr-only">previous</span></button></th>
      <th colspan="5"><button id="datepicker-3291-6871-title" role="heading" aria-live="assertive" aria-atomic="true" type="button" class="btn btn-default btn-sm uib-title" ng-click="toggleMode()" ng-disabled="datepickerMode === maxMode" tabindex="-1"><strong>janeiro 2026</strong></button></th>
      <th><button type="button" class="btn btn-default btn-sm pull-right uib-right" ng-click="move(1)" tabindex="-1"><i aria-hidden="true" class="glyphicon glyphicon-chevron-right"></i><span class="sr-only">next</span></button></th>
    </tr>
    <tr>
      <!---->
      <!----><th ng-repeat="label in ::labels track by $index" class="text-center"><small aria-label="domingo">dom</small></th><!----><th ng-repeat="label in ::labels track by $index" class="text-center"><small aria-label="segunda-feira">seg</small></th><!----><th ng-repeat="label in ::labels track by $index" class="text-center"><small aria-label="terça-feira">ter</small></th><!----><th ng-repeat="label in ::labels track by $index" class="text-center"><small aria-label="quarta-feira">qua</small></th><!----><th ng-repeat="label in ::labels track by $index" class="text-center"><small aria-label="quinta-feira">qui</small></th><!----><th ng-repeat="label in ::labels track by $index" class="text-center"><small aria-label="sexta-feira">sex</small></th><!----><th ng-repeat="label in ::labels track by $index" class="text-center"><small aria-label="sábado">sáb</small></th><!---->
    </tr>
  </thead>
  <tbody>
    <!----><tr class="uib-weeks" ng-repeat="row in rows track by $index" role="row">
      <!---->
      <!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-0" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}" class="text-muted">28</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-1" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}" class="text-muted">29</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-2" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}" class="text-muted">30</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-3" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}" class="text-muted">31</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-4" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">01</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-5" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">02</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-6" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">03</span></button>
      </td><!---->
    </tr><!----><tr class="uib-weeks" ng-repeat="row in rows track by $index" role="row">
      <!---->
      <!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-7" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">04</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-8" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">05</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-9" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">06</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-10" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">07</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-11" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">08</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-12" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">09</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-13" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">10</span></button>
      </td><!---->
    </tr><!----><tr class="uib-weeks" ng-repeat="row in rows track by $index" role="row">
      <!---->
      <!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-14" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">11</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-15" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">12</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-16" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">13</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-17" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">14</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-18" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm active" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}" class="text-info">15</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-19" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">16</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-20" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">17</span></button>
      </td><!---->
    </tr><!----><tr class="uib-weeks" ng-repeat="row in rows track by $index" role="row">
      <!---->
      <!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-21" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">18</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-22" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">19</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-23" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">20</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-24" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">21</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-25" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">22</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-26" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">23</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-27" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">24</span></button>
      </td><!---->
    </tr><!----><tr class="uib-weeks" ng-repeat="row in rows track by $index" role="row">
      <!---->
      <!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-28" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">25</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-29" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">26</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-30" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">27</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-31" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">28</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-32" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">29</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-33" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">30</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-34" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}">31</span></button>
      </td><!---->
    </tr><!----><tr class="uib-weeks" ng-repeat="row in rows track by $index" role="row">
      <!---->
      <!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-35" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}" class="text-muted">01</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-36" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}" class="text-muted">02</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-37" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}" class="text-muted">03</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-38" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}" class="text-muted">04</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-39" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}" class="text-muted">05</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-40" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}" class="text-muted">06</span></button>
      </td><!----><td ng-repeat="dt in row" class="uib-day text-center" role="gridcell" id="datepicker-3291-6871-41" ng-class="::dt.customClass">
        <button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1" disabled="disabled"><span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}" class="text-muted">07</span></button>
      </td><!---->
    </tr><!---->
  </tbody>
</table>
</div><!---->
  <!---->
  <!---->
</div>
</div></li>
  <!---->
</ul>