<div class="eqselection-column">
                    <h4>Frota</h4>
                    <multi-select select-all-event-name="equipmentProfileAllEquipment" on-select="handlerViewStateEquipment()" source="allEquipments" label="cdEquipamento|descEquipamento"> <div class="panel panel-default">

    <!----><div ng-if="!$ctrl.maxSelection" class="panel-heading">
        <!----><div ng-if="!$ctrl.maxSelection" class="checkbox">
            <label>
                <input type="checkbox" name="checkAll" indeterminate-checkbox="" child-list="$ctrl.source | filter:searchText" property="selected" ng-model="selectedModel" event-name="equipmentProfileAllEquipment" data-cy="" class="ng-untouched ng-valid ng-not-empty ng-dirty ng-valid-parse">
                Selecionar Tudo
            </label>
        </div><!---->
    </div><!---->

    <div class="panel-body max-height-panel-body custom-scroll" style="min-height: 250px; height: 250px; overflow: scroll; overflow-x: hidden;">
        <!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        375 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        COLHEDORA <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        547 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        COLHEDORA <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        235 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        COLHEDORA <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        517 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        COLHEDORA <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        469 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        COLHEDORA <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        354 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        COLHEDORA <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        369 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        COLHEDORA DE CANA <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        279 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        COLHEDORA DE CANA <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        560 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        COLHEDORA DE CANA <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        298 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        COLHEDORA DE CANA <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        531 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        GRUNNER <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        532 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        GRUNNER <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        506 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        TRATOR TRANSBORDO <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        317 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        TRATOR TRANSBORDO <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        422 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        TRATOR TRANSBORDO <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        153 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        TRATOR TRANSBORDO <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        112 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        TRATOR TRANSBORDO <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        372 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        TRATOR TRANSBORDO <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        163 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        TRATOR TRANSBORDO <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        202 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        TRATOR TRANSBORDO <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        507 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        TRATOR TRANSBORDO <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        371 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        TRATOR TRANSBORDO <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        508 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        TRATOR TRANSBORDO <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        227 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        TRATOR TRANSBORDO <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!----><div class="checkbox well-sm btn-success" style="margin-bottom:5px; border-width: 1px; border-style: solid;" ng-class="{'well': !obj.selected, 'btn-success': obj.selected}" ng-repeat="obj in $ctrl.source | filter:searchText">
            <label style="overflow-wrap:break-word;">
                <input type="checkbox" value="" ng-model="obj.selected" ng-change="$ctrl.onSelect()" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <!---->
                <!----><div ng-if="$ctrl.isLabelArray == true">
                    <!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        421 <!----><span ng-if="!$last &amp;&amp; ($parent.obj[$ctrl.labelArray[$index + 1]] != undefined)"> - </span><!---->
                    </span><!----><span ng-repeat="prop in $ctrl.labelArray track by $index">
                        TRATOR TRANSBORDO <!---->
                    </span><!---->
                </div><!---->
            </label>
        </div><!---->
    </div>

    <div class="panel-footer">
        <div class="input-group input-group-sm">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
            <input type="text" class="form-control ng-pristine ng-untouched ng-valid ng-empty" name="searchedInput" ng-model="searchText" placeholder="Digite um termo de pesquisa">
        </div>
    </div>

</div></multi-select>
                </div>